Flask==2.0.3
Flask-APScheduler==1.12.2
lightfm==1.16
lorem==0.1.1
nltk==3.6.5
numpy==1.21.6
pandas==1.1.5
pytest==6.2.4
requests==2.26.0
scikit-learn==0.24.1
scipy==1.5.4
waitress==2.1.2
## The following requirements were added by pip freeze:
APScheduler==3.9.1
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
packaging==21.3
pluggy==0.13.1
py==1.11.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
six==1.16.0
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.62.3
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
Werkzeug==2.0.3
backports.zoneinfo==0.2.1
importlib-metadata==4.12.0
typing_extensions==4.3.0
zipp==3.8.1